.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 3px dotted black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      height: 30%;
    }

    &::-webkit-scrollbar-thumb {
      background: black;
    }

    &::-webkit-scrollbar-track {
      background: rgb(235, 235, 235);
    }
  }

  .scroll-bar {
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }
}
